@model SalesDemo.Entities.CompanyVM

@{
    ViewData["Title"] = "Upsert";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

<h1>Upsert</h1>

<h4>CompanyVM</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Upsert">
            
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CompanyName" class="control-label"></label>
                <input asp-for="CompanyName" class="form-control" placeholder="@Model.CompanyName" required/>
                <span asp-validation-for="CompanyName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PhoneNumber" class="control-label"></label>
                <input asp-for="PhoneNumber" class="form-control" placeholder="@Model.PhoneNumber" required/>
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

